@font-face {
  font-family: 'PermanentMarker';
  src: local('PermanentMarker'), url(./resources/fonts/PermanentMarker-Regular.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./resources/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}
body{
  font-family: "Inter";
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
}


.pageName{
  font-family: "PermanentMarker";
  text-align: center;

}

